{% extends 'base.html' %}

{% block content %}
<!--<div class="jumbotron" style="background-image:url({{ url_for('static', filename='img/main.png')}})" >-->
<div class="jumbotron" style="background-color: coral" >
    <div class="jumbotron-content container text-center">
        <h1 class="baseTitle">Baby Safety Monitor</h1>
        <p>&nbsp;</p>
        <!-- <p>Explore new technology when touching "Me"...</p> -->
    </div>
</div>

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-3 offset-md-4">
            <h3 class="titleFont">Video Processing</h3>
            <a href="/staticstream">
                <img src="{{ url_for('static', filename='img/video.gif')}}" class="img-responsive navImg" style="width:100%" alt="Image">
            </a>
            <p class="description">This function allows user to process static media for baby safety monitor including baby activity and sound.</p>
        </div>
    </div>
</div>
{% endblock %}
