{% extends 'base.html' %}

{% block content %}

<div class="d-flex" id="wrapper">
    <!-- Page Content -->
    <div class="container-fluid static-box">
        <div id="page-content-wrapper">
			<div class="row">
				<div class="offset-md-3">
					<h1 class="titleFont">Static Video Processing</h1>
				</div>
			</div>
			
            <div id="static_content">
                <div class="container-fluid" id="main">
                    <h2 class="text-center">Please upload a baby video</h2>
                    <form action="/uploadvideo" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="custom-file">
                                <input id="uploadVideo" name="uploadVideo" type="file" >
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-lg btn-success btn-upload-3"><i class="fa fa-upload"></i> Upload</button>
                            <button type="button" class="btn btn-lg btn-secondary btn-reset-3"><i class="fa fa-ban"></i> Clear</button>
                        </div>
                    </form>


                    <div id="processresultdiv" >
						<div class="form-group row">
							<div class="col">
								<h3 class="text-center">Detected Sound</h3>
							</div>
						</div>
                        <div id="chart_display" style="width: 80em; height: 10em; margin:5px;">
						</div>
                        <div id="uploadFile_processed">
						</div>
					</div>

                </div>

            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->
</div>

{% endblock %}
